<a href="https://colab.research.google.com/github/ispineda/Courses/blob/main/Machine-Learning/Clasificadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clasificación multiclase

Ejercicio Temperaturas

## Clasificación binaria

* No llueve 
* Llueve 

### Aprendizaje supervisado
- Predice una categoría en función de las variables de entrada
- La clasificación es una tarea supervisada
- El objetivo es una variable categórica

## Algoritmos - Arboles de decisión
Uso de librerías scikit-learn

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)

In [2]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/diario.csv')

In [6]:
df.head()

   number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
0       0        918.060000  ...              42.420000              36.160000
1       1        917.347688  ...              24.328697              19.426597
2       2        923.040000  ...               8.900000              14.460000
3       3        920.502751  ...              12.189102              12.742547
4       4        921.160000  ...              92.410000              76.740000

[5 rows x 11 columns]

In [9]:
# Verifica si existe nulos a lo largo de los registros
df[df.isnull().any(axis=1)]

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
16        16        917.890000  ...              48.990000              51.190000
111      111        915.290000  ...              21.500000              29.690000
177      177        915.900000  ...              29.260000              46.500000
262      262        923.596607  ...              17.990876              16.461685
277      277        920.480000  ...              52.580000              54.030000
334      334        916.230000  ...              31.880000              32.900000
358      358        917.440000  ...              13.880000              25.930000
361      361        920.444946  ...              12.278715               7.618649
381      381        918.480000  ...              20.640000              14.350000
409      409               NaN  ...              18.487385              20.356594
517      517        920.570000  ...              79.880000              84.530000
519      519        916.250000  ...              72.550000              74.390000
546      546               NaN  ...              87.870000              70.770000
620      620        921.200000  ...              59.790000              77.750000
625      625        912.400000  ...              86.840000              64.740000
656      656        920.830000  ...              23.770000              51.630000
670      670        910.920000  ...              80.560000              88.220000
672      672        922.448945  ...              16.753670              17.804720
705      705        911.900000  ...              77.630000              59.130000
731      731        922.970166  ...              34.807753              18.418179
737      737        917.895130  ...              13.771311              16.792455
788      788        917.923442  ...               6.939692              18.793825
840      840        918.043767  ...              11.911222              18.154358
848      848        915.250000  ...              91.000000              90.780000
861      861        919.065408  ...              12.497839              13.438518
869      869               NaN  ...              85.270000              90.260000
998      998        914.140000  ...              24.200000              41.380000
1031    1031        922.669195  ...              18.920805              19.641841
1035    1035        919.670000  ...              56.860000              50.650000
1063    1063        917.300185  ...              14.972668              20.966267
1066    1066        919.564869  ...              11.657314              17.331823

[31 rows x 11 columns]

In [10]:
del df['number']

In [20]:
filas_actuales, _ = df.shape
filas_actuales

1064

In [21]:
df = df.dropna()
filas_despues_drop, _ = df.shape
filas_despues_drop

1064

In [18]:
print(filas_actuales - filas_despues_drop)

31

## Aplicación del clasificador

In [24]:
clean_data = df.copy() # Copia de la data
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm']>24.99)*1 # Filtra y transforma en números
print(clean_data['high_humidity_label']) # Imprime

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int64

In [25]:
y = clean_data['high_humidity_label'].copy()
y.head()

0    1
1    0
2    0
3    0
4    1
Name: high_humidity_label, dtype: int64

In [26]:
df.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [29]:
features = ['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am']

In [30]:
x = clean_data[features].copy()

Parte set de datos

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=324)

In [33]:
# Crea el clasificador con el número de nodos predispuesto a 10 sin aleatoriedad
humidity_classificator = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [34]:
humidity_classificator.fit(x_train, y_train) # Entrena el modelo

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [35]:
predictions = humidity_classificator.predict(x_test)

In [36]:
accuracy_score(y_true=y_test, y_pred=predictions) # Muestra precisión del modelo

0.8153409090909091