<br><p style="font-family: Arial; font-size:3.05em;color:purple; font-style:bold">
Usando Folium</p><br><br>
# Explorando CO2

In [136]:
#!pip install folium
import folium
import pandas as pd

In [137]:
country_geo = 'world-countries.json'

In [138]:
# Read in the World Development Indicators Database
data = pd.read_csv('wdi/Indicators.csv')
data.shape

(5656458, 6)

In [194]:
# selecccionamos las emisiones de todos los países del año 2011
hist_indicator = 'CO2 emissions \(metric'
hist_year = 2011

mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])

# aplicamos filtro
stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5026275,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,4.724500
5026788,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,9.692960
5027295,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,6.911131
5027870,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.859548
5028456,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.302499

### Preparamos los datos a graficar

Creamos un nuevo DF a donde colocaremos solamente el código de país y el valor de co2

In [195]:
plot_data = stage[['CountryCode','Value']]
plot_data.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

In [196]:
# preparamos etiquetas
hist_indicator = stage.iloc[0]['IndicatorName']

## Visualizamos los valores sobre un mapa usando Folium
Folium nos provee una basta plataforma para hacer superposiciones sobre mapas

In [197]:
# Preparamos el mapa con una location aleatoria pero con un zoom muy abierto
map = folium.Map(location=[0, 0], zoom_start=1.0)

In [198]:
# configuramos el mapa , exploramos el JSON para ver que el country code esta bajo "id"
# colores en https://github.com/dsc/colorbrewer-python

map.choropleth(geo_data=country_geo, data=plot_data,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='Reds', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [199]:
# Creamos y grabamos el plot como html
map.save('plot_data.html')

In [201]:
# Importamos el html
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')